# Google App Engine generated folder
appengine-generated/
/src/*.o
/src/*/*.o
/src/*.cpp?.ii
/src/*.cubin
/src/*.fatbin*
/src/*.cudafe*
/src/*.module_id
/src/*.ptx
/tests/*
!/tests/**/
!/tests/*.*
/tests/*.o
/Debug/
/docs/html
/docs/latex
/docs/images
